# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://lyhhipvipgbqsytfqwdw.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here

# Typeform
EXPO_PUBLIC_TYPEFORM_ID=XOEB81yk

# Prestashop
EXPO_PUBLIC_PRESTASHOP_URL=https://skineasy.com

# Sentry
EXPO_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# Dev login (passwordless login for testing)
EXPO_PUBLIC_DEV_LOGIN_SECRET=
